@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    font-size: 15px;
    font-family:'Lexend Deca', sans-serif;
}


body{
    background-color:hsla(0, 0%, 100%, 0.75) ;
}



nav{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: hsl(184, 100%, 22%);
}


nav a, h1{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 50px;
    text-decoration: none;
    padding: 4% 0% 4% 0%;
    color: hsl(0, 0%, 95%);
}

nav a{
    font-size: 40px;
}


nav a:hover{
    color: hsl(0, 4%, 72%)
}

#mainFlex{
    display: flex;
    margin: 10% 20%;
    
}


#mainFlex div{
    border-radius: 5px;
    padding: 5%;
}


#sedanContainer{
    background-color: hsl(31, 77%, 52%);
}


#SUVsContainer{
    background-color: hsl(184, 100%, 22%);
}

#luxuryContainer{
    background-color: hsl(179, 100%, 13%);
}


p{
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 2;
}


#sedanBtn{
    color: hsl(31, 77%, 52%);
}

#suvBtn{
color: hsl(184, 100%, 22%);
}

#luxuryBtn{
color: hsl(179, 100%, 13%);
}

#sedanBtn:hover, #suvBtn:hover, #luxuryBtn:hover {

    color: hsl(0, 0%, 95%);
}



button{
    width: 65%;
    height: 45px;
    border: none;
    border-radius: 40px;
    margin-top: 25%;
    color: hsla(0, 0%, 100%, 0.75);
    background-color: hsl(0, 0%, 95%);
}

button:hover{
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 95%);
}


footer{
    text-align: center;
    margin-bottom: 4%;
}





            /* grid rules begin here*/

#gridBody{
    background-color: black;
}


#container{
    display: inline-grid;
    gap: 20px;
    background-color: black;
    margin: 13%;
    padding: 40px;
    width: 1000px;
    height: 700px;
    grid-template-areas: 
        'orange orange orange orange orange orange yellow yellow yellow'
        'orange orange orange orange orange orange yellow yellow yellow'
        'orange orange orange orange orange orange yellow yellow yellow'
        'orange orange orange orange orange orange yellow yellow yellow'
        'green green green green smallblue smallblue smallblue smallblue smallblue'
        'green green green green smallblue smallblue smallblue smallblue smallblue'
        'green green green green bigblue bigblue bigblue bigblue bigblue'
        'green green green green bigblue bigblue bigblue bigblue bigblue'
        'green green green green bigblue bigblue bigblue bigblue bigblue'
} 

       

#orange{
    background-color: #ff4500;
    grid-area: orange; 
   
    
}

#yellow{
    background-color: goldenrod;
    grid-area: yellow;
   
}

#green{
    background-color: green;
    grid-area: green;
    
}

#smallBlue{
    background-color: steelblue;
    grid-area: smallblue;
   
}

#bigBlue{
    background-color: steelblue ;
    grid-area: bigblue;
    
}

#gridFooter{
    color: beige;
}














/* mobile version begins here*/

@media screen and (max-width:800px) {


    *{
        font-size: small;
    }

    #mainFlex{
        flex-direction: column;
        margin-top: 12%;
    }


    #mainFlex div{
        padding: 10%;
    }

    nav a, h1{
        font-size: x-large;
    }

    button{
        height: 40px;
        margin: 15% ;
    }

    
    #container{
        width: 90%;
        height: auto;
        gap: 10px;
        padding: 0%;
        margin: 15% 5% 100% 5%;
        
    }




}